<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="12.2.7222.0" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="A2DDE4CCBBF2A9D27B94EF01746D10BE0AE50BD7E87E68557C13993621DF2BC7DAB1EB583B616C45E74C177D4C6114F780266257E1800AFB7A65B83719EF51C1" decryptionKey="A75E882ED21C20E9A3B4999DD9D8039CD6BE39E62821FA84D0C1B247CE294F79" loggingCookieName=".SFLOG-/">
	<securityTokenIssuers>
		<add key="2441F3CE336BAC91F93B7E4E8DFBCDCFF410C4D93E6E32A46D044EF13D249D8D" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="2441F3CE336BAC91F93B7E4E8DFBCDCFF410C4D93E6E32A46D044EF13D249D8D" realm="http://localhost" />
	</relyingParties>
</securityConfig>